@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition: 1s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1444px;
  margin: 0 auto;
}

.hamb {
  display: none;
  background-color: transparent;
  border: 0;
}
@media (max-width: 992px) {
  .hamb {
    display: block;
  }
}

.logo {
  height: 40px;
  margin: 10px 20px;
}

.menu {
  display: flex;
}
@media (max-width: 992px) {
  .menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    height: 100vh;
    width: 50vw;
    background-color: black;
    z-index: 5;
    transition: 2s;
    text-align: center;
  }
}

.menu > li {
  color: white;
  margin: auto 25px;
}
.menu > li:hover {
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin: auto 15px;
  border-radius: 15px;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .menu > li {
    margin: auto auto;
  }
}

.mobilemenu {
  left: 0;
}

.inverted {
  background-color: #202020;
}

main {
  background-image: url("../images/BG Image.png");
  background-size: cover;
  position: relative;
}

main > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100vh;
  max-width: 1444px;
  margin: 0 auto;
}

.info {
  width: 40%;
  margin: auto 0px;
}
.info h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}
.info p {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.info .explore {
  width: 30%;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}
.info .explore:hover {
  background-color: transparent;
  color: white;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .info {
    width: 100%;
  }
}

.images {
  height: 50%;
  width: 30%;
  margin: auto 0px;
  display: flex;
}
.images .im1 {
  position: relative;
  height: 90%;
  width: 70%;
}
.images .im1 img {
  position: absolute;
  top: 0;
  width: 99%;
}
.images .im2 {
  position: relative;
  height: 90%;
  width: 70%;
}
.images .im2 img {
  position: absolute;
  bottom: 0;
  width: 99%;
}
@media (max-width: 992px) {
  .images {
    display: none;
  }
}

.wave {
  bottom: 0;
  position: absolute;
}

.clock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  background-color: black;
  border-top-right-radius: 90%;
}
.clock .bi-clock {
  color: white;
  font-size: 25px;
  padding-right: 10px;
  padding-top: 10px;
}

.datetime {
  position: fixed;
  left: -100%;
  bottom: 0;
  width: 250px;
  height: 150px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}
.datetime div {
  margin: auto auto;
}
.datetime .day {
  color: white;
  font-size: 0.8rem;
}
.datetime .time {
  color: white;
  font-size: 1.5rem;
}

.showdatetime {
  left: 0;
}

.popular {
  width: 90%;
  max-width: 1444px;
  margin: 30px auto;
}
.popular h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.cities {
  display: flex;
  gap: 15px;
}
@media (max-width: 992px) {
  .cities {
    flex-direction: column;
  }
}
.cities .card {
  display: flex;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  flex: 1;
}
.cities .card:hover {
  border: 1px solid peru;
  background-color: white;
}
.cities .card .photo {
  width: 100px;
  padding: 15px;
}
.cities .card .infocard {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}
.cities .card .infocard .type {
  font-size: 0.8rem;
}
.cities .card .infocard .values {
  display: flex;
  margin-top: 10px;
}
.cities .card .infocard .values .bi-thermometer-half {
  color: peru;
}
.cities .card .infocard .values .bi-droplet-half {
  color: peru;
}
.cities .card .infocard .temphumi {
  color: peru;
  font-weight: 400;
  margin-right: 15px;
}

.mycity {
  background-color: rgb(236, 236, 236);
  max-width: 1444px;
}
.mycity h2 {
  font-size: 2rem;
  padding: 30px 0px;
  text-align: center;
}
.mycity .myweather {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .mycity .myweather {
    flex-direction: column;
  }
}
.mycity .myweather div {
  text-align: center;
}
.mycity .myweather div i {
  font-size: 2rem;
}
.mycity .myweather div h4 {
  margin: 5px auto;
  font-size: 2rem;
  font-weight: 400;
  color: darkorange;
}

.ourhotels {
  width: 90%;
  margin: 30px auto;
}
.ourhotels h2 {
  font-size: 2rem;
  text-align: center;
}

.hotels {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .hotels {
    flex-wrap: wrap;
  }
}
.hotels .hotel {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}
.hotels .hotel:hover {
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
}
.hotels .hotel img {
  width: 230px;
}
.hotels .hotel .namestars {
  display: flex;
  justify-content: space-between;
  width: 230px;
  font-size: 1.2rem;
}
.hotels .hotel .namestars span {
  display: flex;
  padding: auto 0px;
  align-items: center;
}
.hotels .hotel p {
  font-size: 0.8rem;
}
.hotels .hotel .price {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.hotels .hotel .price h5 {
  font-size: 1.2rem;
  margin-right: 5px;
}
.hotels .hotel .price .pernight {
  font-size: 1rem;
  font-weight: 400;
}

.footer {
  background-color: #202020;
}
.footer .infofooter {
  padding: 80px 0px;
  text-align: center;
}
.footer .infofooter .socnet {
  margin-bottom: 50px;
}
.footer .infofooter .socnet .bi {
  background-color: white;
  padding: 10px 17px;
  font-size: 30px;
  border-radius: 50px;
  margin: 30px 15px;
}
.footer .infofooter .socnet .bi:hover {
  background-color: gray;
  color: white;
}
.footer .infofooter ul {
  color: white;
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
.footer .infofooter ul li {
  margin: 0px 15px;
}
.footer .infofooter p {
  color: grey;
}/*# sourceMappingURL=main.css.map */