.popular {
    width: 90%;
    max-width: 1444px;
    margin: 30px auto;

    h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
}

.cities {
    display: flex;
    gap: 15px;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    .card {
        display: flex;
        background-color: rgb(236, 236, 236);
        border-radius: 10px;
        border: 1px solid rgb(236, 236, 236);
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
        flex: 1;

        &:hover {
            border: 1px solid peru;
            background-color: white;
        }

        .photo {
            width: 100px;
            padding: 15px;
            }

        .infocard {
            display: flex;
            flex-direction: column;
            padding: 15px 0px;
            
            .type {
                font-size: 0.8rem;
            }

            .values {
                display: flex;
                margin-top: 10px;

                .bi-thermometer-half {
                    color: peru;
                }

                .bi-droplet-half {
                    color: peru;
                }
            }

            .temphumi {
                color: peru;
                font-weight: 400;
                margin-right: 15px;
            }
        }
    }
}

.mycity {
    background-color: rgb(236, 236, 236);
    max-width: 1444px;
    h2 {
        font-size: 2rem;
        padding: 30px 0px;
        text-align: center;
    }

    .myweather {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;

        @media (max-width: 992px) {
            flex-direction: column;
        }    

        div {
            text-align: center;

            i {
                font-size: 2rem;
            }
    
            h4 {
                margin: 5px auto;
                font-size: 2rem;
                font-weight: 400;
                color: darkorange;
            }
        }
    }

}

.ourhotels {
    width: 90%;
    margin: 30px auto;
    h2 {
        font-size: 2rem;
        text-align: center;
    }
}

.hotels {
    display: flex;
    justify-content: space-around;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }    

    .hotel {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid white;

        &:hover {
            background-color: rgb(236, 236, 236);
            border: 1px solid black;
        }

        // img {
        //     width: 230px;
        // }
        // .namestars {
        //     display: flex;
        //     justify-content: space-between;
        //     width: 230px;
        //     font-size: 1.2rem;
        //     span {
        //         display: flex;
        //         padding: auto 0px;
        //         align-items: center;
        //     }
        // }

        // p {
        //     font-size: 0.8rem;
        // }

        // .price1{
        //     display: flex;
        //     align-items: center;
        //     margin-top: 5px;
        //     h5 {
        //         font-size: 1.2rem;
        //         margin-right: 5px;
        //     }
        //     .pernight1 {
        //         font-size: 1rem;
        //         font-weight: 400;
        //     }
        // }
    }

}

.footer {
    background-color: $light-dark;

   .infofooter {
    padding: 80px 0px;
    text-align: center;
    .socnet{
        margin-bottom: 50px;
        .bi {
            background-color: white;
            padding: 10px 17px;
            font-size: 30px;
            border-radius: 50px;
            margin: 30px 15px;

            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }

    ul {
        color: white;
        display: flex;
        margin: 10px auto;
        justify-content: center;
        li {
            margin: 0px 15px;
        }
    }

    p {
        color: grey;
    }
   }
}

.hotelimg {
        width: 230px;
}

.hotelname {
    font-size: 1rem;
    font-weight: 700;
}

.hotelrate {
    font-size: 1rem;
}

.ratebox {
    display: flex;
    padding: auto 0px;
    align-items: center;
}

.namebox {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.pricebox {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.price {
    font-size: 1.2rem;
    margin-right: 5px;
}

.pernight {
    font-size: 1rem;
    font-weight: 400;
}