.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    // height: 50px;
    border-bottom: 1px solid white;
    background-color: transparent;
    transition: 1s;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1444px;
    margin: 0 auto;
}

.hamb {
    display: none;
    background-color: transparent;
    border: 0;
    @media (max-width: 992px) {
        display: block;
    }
}



.logo {
    height: 40px;
    margin: 10px 20px;
}

.menu {
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
        position: fixed;
        left: -100%;
        height: 100vh;
        width: 50vw;
        background-color: black;
        z-index: 5;
        transition: 2s;
        text-align: center;
    }
}

.menu>li {
    color: white;
    margin: auto 25px;
    &:hover {
        background-color: white;
        color: black;
        padding: 5px 10px;
        margin: auto 15px;
        border-radius: 15px;
        transition: 0.5s;
    } 

    @media (max-width: 992px) {
        margin: auto auto;
    }
}

.mobilemenu {
    left: 0 ;
}

.inverted {
    background-color: $light-dark;
}
