.nav {
    position: fixed;
    width: 100%;
    // height: 50px;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1444px;
    margin: 0 auto;
}

.hamb {
    display: none;
    background-color: transparent;
    border: 0;
    @media (max-width: 992px) {
        display: block;
    }
}

.logo {
    height: 40px;
    margin: 10px 20px;
}

.wrapper>ul {
    display: flex;
    @media (max-width: 992px) {
        display: none;
    }
}

.wrapper>ul>li {
    color: white;
    margin: auto 25px;
    &:hover {
        background-color: white;
        color: black;
        padding: 5px 10px;
        margin: auto 15px;
        border-radius: 15px;
        transition: 0.5s;
    } 
}