main {
    background-image: url("../images/BG\ Image.png");
    position: relative;
    z-index: -1;
}

main>div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100vh;
    max-width: 1444px;
    margin: 0 auto;
} 

.info {
    width: 40%;
    margin: auto 0px;

    h1 {
        color: white;
        font-size: 3rem;
        margin-bottom: 10px;
    }

    p {
        color: white;
        font-size: 0.8rem;
        margin-bottom: 20px;
        
    }

    .explore {
        width: 30%;
        padding: 10px 10px;
        border-radius: 20px;
        border: 0;
        &:active {
            background-color: transparent !important;
            color: white;
            border: 2px solid white;
            font-size: 1rem;
            transition: 0.5s;
        }
    }
    @media (max-width: 992px) {
        width: 100%;
    }
}

.images {
    height: 50%;
    width: 30%;
    margin: auto 0px;
    display: flex;
    
    .im1 {
        position: relative;
        height: 90%;
        width: 70%;
        img {
            position: absolute;
            top: 0;
            width: 99%;
        }
    }
    .im2 {
        position: relative;
        height: 90%;
        width: 70%;
        img {
            position: absolute;
            bottom: 0;
            width: 99%;
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}

.wave {
    position: absolute;
    bottom: 0;
}

.clock {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: black;
    border-top-right-radius: 90%;

    .bi-clock {
        color: white;
        font-size: 25px;
        padding-right: 10px;
        padding-top: 10px;
    }
}

.datetime {
    position: fixed;
    left: -100%;
    bottom: 0;
    width: 250px;
    height: 150px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    div {
        margin: auto auto;
    }
    .day {
        color: white;
        font-size: 0.8rem;
    }
    .time {
        color: white;
        font-size: 1.5rem;
    }
}

.showdatetime {
    left: 0;
}


.explore:hover {
    background-color: transparent !important;
    color: white;
    border: 2px solid white;
    font-size: 1rem;
    transition: 0.5s;
}

